# COGS 108 - Data Checkpoint

# Names

- Stephen Kim
- Clara Yi
- Ethan Lee
- Ernest Lin
- Wesley Nguyen

<a id='research_question'></a>
# Research Question

Do the macroscopic socioeconomic features of a state, specifically median income, percentage of population without health insurance, and labor breakdown, have a correlation to COVID mortality rate in 2020-2021?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

### Dataset 1

- Dataset Name: United States COVID-19 Cases and Deaths by State over Time
- Link to the dataset: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36/data
- Number of observations: 44,280 rows, 15 columns

This dataset contains the United States (and underlying US territories) data for its COVID rates over time. Such rates include total cases, new cases, total deaths, new deaths, and other metrics that give an overall view of the statistics of COVID for each state. There are submission dates for each row, so that is how we are going to link the rates to specific periods of time

### Dataset 2
- Dataset Name: Employees on nonfarm payrolls by state and selected industry sector, seasonally adjusted
- Link to the dataset: https://www.bls.gov/news.release/laus.t03.htm
- Number of observations: 50 rows, 9 columns, 450 observations total

Dataset from the US Bureau of Labor Statistics, counting the total number of employees in thousands in the labor force in each state as well as in each of eight industries (construction, manufacturing, trade/transportation/utilities, finance, services, education/health, leisure/hospitality, government).

### Dataset 3

- Dataset Name: Median Household Income and Percentage of Americans without Health Insurance in 2020
- Link to the dataset: https://docs.google.com/spreadsheets/d/174jFoW8KsXGJmpNUx8cbh6j4l6rhQhpOUKIPnkzk3lM/edit#gid=0
- Number of observations: 50 row, 2 columns, 100 observations total

This dataset contains the United States' for the median household income and percentage of Americans without Health Insurance in 2020. This data was taken from two different sources, [United States Census Bureau Website](https://www.census.gov/quickfacts/fact/map/CA/HEA775220) and [Federal Reserve Economic Data](https://fred.stlouisfed.org/release/tables?rid=249&eid=259515&od=2020-01-01#), and all of this data was manually imported into a Google SHeet that was converted to a CSV file.

# Setup

In [1]:
!pip3 install pandas
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (1.4.0)
Requirement already satisfied: pytz>=2020.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from pandas) (1.22.2)
Requirement already satisfied: six>=1.5 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
/bin/bash: pip: command not found

In [2]:
import pandas as pd

# Data Cleaning

Describe your data cleaning steps here.

In [3]:
# Cleaning State Data
def clean_covid_data():
    # Date Closure
    def apply_date(date: str) -> str:
        split_date = date.split("/")
        return "/".join([split_date[2], split_date[0], split_date[1]])
        
    
    # Read the data (already in tabular form)
    covid_data_url = r"./Raw Data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv"
    covid_data = pd.read_csv(covid_data_url)
    
    # States we will not be looking at (These aren't part of the 50 states)
    remove_states = ["RMI", "FSM", "GU", "MP", "PW", "NYC", "PR", "AS", "VI", "DC"]
    covid_data = covid_data[~covid_data["state"].isin(remove_states)]
    
    # Remove columns we don't need
    covid_data = covid_data[["submission_date", "state", "tot_cases", "tot_death"]]
    
    # Change Date format to allow for easier sorting
    covid_data["submission_date"] = covid_data["submission_date"].apply(apply_date)
    
    # Sort Date
    covid_data.sort_values("submission_date", inplace=True, ascending=False)
    covid_data.reset_index(inplace=True, drop=True)
    
    # Save Data
    clean_covid_data_url = r".\Cleaned Data\state_covid_data.csv"
    covid_data.to_csv(clean_covid_data_url, index=False)
    
clean_covid_data()

In [4]:
def read_covid_data(month: int, day: int, year: int):
    covid_data_url = r".\Cleaned Data\state_covid_data.csv"
    covid_data = pd.read_csv(covid_data_url)
    
    date_filter = formatDate(month, day, year)
    covid_data = covid_data[covid_data["submission_date"] == date_filter]
    covid_data.sort_values("state", inplace=True)
    covid_data.reset_index(inplace=True, drop=True)
    
    return covid_data

def formatPreZero(num: int) -> str:
    if num >= 10:
        return str(num)
    
    return "0" + str(num)
    
    
def formatDate(month: int,  day: int, year: int) -> str:
    return f"{year}/{formatPreZero(month)}/{formatPreZero(day)}"

read_covid_data(3, 15, 2021)

   submission_date state  tot_cases  tot_death
0       2021/03/15    AK      58212        331
1       2021/03/15    AL     507494      10800
2       2021/03/15    AR     327060       5481
3       2021/03/15    AZ     834006      16553
4       2021/03/15    CA    3528795      55330
5       2021/03/15    CO     452758       6040
6       2021/03/15    CT     293102       7788
7       2021/03/15    DE      91768       1511
8       2021/03/15    FL    1941604      33528
9       2021/03/15    GA    1034763      18262
10      2021/03/15    HI      28312        448
11      2021/03/15    IA     343073       5642
12      2021/03/15    ID     175657       1916
13      2021/03/15    IL    1210113      23216
14      2021/03/15    IN     674087      12834
15      2021/03/15    KS     298218       4835
16      2021/03/15    KY     420300       7192
17      2021/03/15    LA     437565       9903
18      2021/03/15    MA     603464      16739
19      2021/03/15    MD     394058       8599
20      2021/03/15    ME      47388        725
21      2021/03/15    MI     718912      16887
22      2021/03/15    MN     498218       6815
23      2021/03/15    MO     559832       8687
24      2021/03/15    MS     302329       7129
25      2021/03/15    MT     101933       1393
26      2021/03/15    NC     880066      12565
27      2021/03/15    ND     101150       1458
28      2021/03/15    NE     206034       2128
29      2021/03/15    NH      78813       1199
30      2021/03/15    NJ     840685      23925
31      2021/03/15    NM     188488       3741
32      2021/03/15    NV     299471       5121
33      2021/03/15    NY     966982      18431
34      2021/03/15    OH     990340      18036
35      2021/03/15    OK     438347       7053
36      2021/03/15    OR     159788       2324
37      2021/03/15    PA     973678      24587
38      2021/03/15    RI     130849       2588
39      2021/03/15    SC     538890       8822
40      2021/03/15    SD     114649       1912
41      2021/03/15    TN     785968      11627
42      2021/03/15    TX    2721126      47807
43      2021/03/15    UT     378600       2027
44      2021/03/15    VA     597141      10104
45      2021/03/15    VT      15761        213
46      2021/03/15    WA     350342       5135
47      2021/03/15    WI     625690       7177
48      2021/03/15    WV     135678       2531
49      2021/03/15    WY      55327        691

In [5]:
# Cleaning socioeconomic data

socioeconomic_data_url = 'Raw Data/socioeconomic_data.csv'
socioeconomic_data = pd.read_csv(socioeconomic_data_url)
print(socioeconomic_data)

# Saving to GitHub
clean_socioeconomic_data_url = r"./Cleaned Data/clean_socioeconomic_data.csv"
socioeconomic_data.to_csv(clean_socioeconomic_data_url, index=False)

   State  Persons without Health Insurance, % Median Household Income in 2020
0     AL                                 11.7                          54,393
1     AK                                 13.9                          74,476
2     AZ                                 13.6                          66,628
3     AR                                 10.9                          50,540
4     CA                                  8.9                          77,358
5     CO                                  9.3                          82,611
6     CT                                  7.0                          79,043
7     DE                                  8.1                          69,132
8     FL                                 16.3                          57,435
9     GA                                 15.5                          58,952
10    HI                                  5.0                          80,729
11    ID                                 12.8                          66,499
12    IL                                  8.6                          73,753
13    IN                                 10.3                          66,360
14    IA                                  6.0                          68,469
15    KS                                 10.9                          72,815
16    KY                                  7.7                          56,525
17    LA                                 10.5                          50,935
18    ME                                 10.1                          63,440
19    MD                                  6.9                          94,384
20    MA                                  3.5                          86,725
21    MI                                  6.9                          63,829
22    MN                                  5.8                          78,461
23    MS                                 15.4                          44,966
24    MO                                 12.0                          61,901
25    MT                                 10.2                          56,442
26    NE                                  9.8                          72,024
27    NV                                 13.4                          60,956
28    NH                                  7.6                          88,235
29    NJ                                  9.2                          85,239
30    NM                                 12.0                          50,822
31    NY                                  6.1                          68,304
32    NC                                 13.4                          60,266
33    ND                                  8.1                          63,657
34    OH                                  7.8                          60,110
35    OK                                 16.8                          52,341
36    OR                                  8.6                          76,554
37    PA                                  7.0                          70,117
38    RI                                  4.8                          80,012
39    SC                                 13.2                          60,097
40    SD                                 12.2                          69,787
41    TN                                 12.1                          54,665
42    TX                                 20.8                          68,093
43    UT                                 10.8                          83,670
44    VT                                  5.6                          66,902
45    VA                                  9.3                          81,947
46    WA                                  7.7                          81,083
47    WV                                  8.3                          51,615
48    WI                                  6.8                          67,094
49    WY                                 14.8                          65,108