# COGS 108 - EDA Checkpoint

# Names

- Clara Yi
- Ernest Lin
- Wesley Nguyen
- Ethan Lee
- Stephen Kim

<a id='research_question'></a>
# Research Question

Do the macroscopic socioeconomic features of a state, specifically median income, percentage of population without health insurance, and prevalence of blue collar workers, have a correlation to COVID mortality rate in 2020-2021?

# Setup

In [99]:
!pip3 install pandas
!pip install pandas
!pip3 install matplotlib
!pip3 install seaborn
!pip3 install openpyxl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (1.4.0)
Requirement already satisfied: numpy>=1.18.5 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from pandas) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
/bin/bash: pip: command not found
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (3.5.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (4.29.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: numpy>=1.17 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (1.22.2)
Requirement already satisfied: packaging>=20.0 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from seaborn) (1.22.2)
Requirement already satisfied: scipy>=1.0 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from seaborn) (1.8.0)
Requirement already satisfied: matplotlib>=2.2 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from seaborn) (3.5.1)
Requirement already satisfied: pandas>=0.23 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from seaborn) (1.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib>=2.2->seaborn) (4.29.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: pytz>=2020.1 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /Users/wesleynguyen1/Library/Python/3.8/lib/python/site-packages (from openpyxl) (1.1.0)

# Data Cleaning

## Dataset 1 (COVID)
- With the imported data, we removed unncessary states. We only want the 50 states not including territories or DC
- We then removed the columns that we didn't need for analysis. We did this by selecting the columns that we needed
- We also wanted the dates to appear in a sortable/searchable way, so we made the dates arranged in yyyy-mm-dd format
- The data was then saved as a csv file.

**Note**: Since the data is arranged by date, we created a function ```read_covid_data``` that will return the 50 states with their respective data for just that specified date

## Dataset 1 Code

In [100]:
# Cleaning State Data
def clean_covid_data():
    # Date Closure
    def apply_date(date: str) -> str:
        split_date = date.split("/")
        return "/".join([split_date[2], split_date[0], split_date[1]])
        
    
    # Read the data (already in tabular form)
    covid_data_url = r"./Raw Data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv"
    covid_data = pd.read_csv(covid_data_url)
    
    # States we will not be looking at (These aren't part of the 50 states)
    remove_states = ["RMI", "FSM", "GU", "MP", "PW", "NYC", "PR", "AS", "VI", "DC"]
    covid_data = covid_data[~covid_data["state"].isin(remove_states)]
    
    # Remove columns we don't need
    covid_data = covid_data[["submission_date", "state", "tot_cases", "tot_death"]]
    
    # Change Date format to allow for easier sorting
    covid_data["submission_date"] = covid_data["submission_date"].apply(apply_date)
    
    # Sort Date
    covid_data.sort_values("submission_date", inplace=True, ascending=False)
    covid_data.reset_index(inplace=True, drop=True)
    
    # Save Data
    clean_covid_data_url = r".\Cleaned Data\state_covid_data.csv"
    covid_data.to_csv(clean_covid_data_url, index=False)
    
clean_covid_data()

In [101]:
def read_covid_data(month: int, day: int, year: int):
    #retrieve cleaned csv
    covid_data_url = r".\Cleaned Data\state_covid_data.csv"
    covid_data = pd.read_csv(covid_data_url)
    
    #reformat date parameter to match data values in csv, then get all data from specific date
    date_filter = formatDate(month, day, year)
    covid_data = covid_data[covid_data["submission_date"] == date_filter]
    covid_data.sort_values("state", inplace=True)
    covid_data.reset_index(inplace=True, drop=True)
    
    return covid_data

def formatPreZero(num: int) -> str:

    #adds '0' char to any integer less than 10 to match formatting
    if num >= 10:
        return str(num)
    
    return "0" + str(num)
    
#reformat date parameter to match data values in csv    
def formatDate(month: int,  day: int, year: int) -> str:
    return f"{year}/{formatPreZero(month)}/{formatPreZero(day)}"

## Dataset 2 (Labor)
- The raw data file for Dataset 2 is an excel file. The format of the data was not organized in a way that complements dataframes, so we had a lot of unnecessary texts in the excel
read as data entries as well. 
- Our first step was to identify the columns and rows that we want, which are the 50 states. We removed unnecessary states (including U.S. territories) and removed all the extra
non-state entries that were read as rows.
- Another problem is that some names in the State column had some footnote numbers that were unintentionally read from the excel sheet. We solved this by removing all occurences of numbers and parentheses from the State column.
- Since other datasets use state codes and the original data uses state names, we had to transform state names in the States column to their corresponding state codes. We did this by defining a function ```to_state_code``` that uses a dictionary to map each state name to their state code.
- We had to reorganize the structure of the dataframe, as the original file had the data stacked on top of each other so each state had 3 rows in the Dataframe. We did so by separating the 
raw dataframe into three different dataframes, and then combining them into a single dataframe so we only have 50 rows.
- We then removed unnessary columns, such as data from other time periods (Our focus was December of 2020). We also combined the columns of job sectors into two groups relevant to our analysis: Blue collar (construction, mining, trade, leisure) and White collar (Financial, professional, education, government) jobs.
- Our final step for Dataset 3 is to export the cleaned dataset as a csv and save it to the "Cleaned Data" folder.

## Dataset 2 Code

In [102]:
#Copied from https://gist.github.com/rogerallen/1583593
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

def to_state_code(state_name):
    return us_state_to_abbrev[state_name]

In [103]:
def clean_labor_data():
    #Read excel file, renames first column to States and take out null rows
    raw_labor_data = pd.read_excel("./Raw Data/labor_dataset_raw.xlsx", header = 4)
    raw_labor_data.rename(columns={"Unnamed: 0": "State"}, inplace=True)
    raw_labor_data = raw_labor_data.dropna()

    #Take out data from 2021 and only keep 2020
    raw_labor_data = raw_labor_data[["State", "Dec.\n2020", "Dec.\n2020.1", "Dec.\n2020.2"]]
    
    non_states = ["Virgin Islands", "District of Columbia", "Puerto Rico"]

    #Removes all non official states from dataset
    for region in non_states:
        raw_labor_data = raw_labor_data[raw_labor_data["State"].str.contains(region)==False]

    #Reset index to start at 0
    raw_labor_data = raw_labor_data.reset_index(drop = True)

    #eliminated extra characters in state names
    raw_labor_data["State"] = raw_labor_data["State"].str.replace('\d+', '', regex=True)
    raw_labor_data["State"] = raw_labor_data["State"].str.replace('(', '', regex=True)
    raw_labor_data["State"] = raw_labor_data["State"].str.replace(')', '', regex=True)

    #Convert state names into codes (First two letters of each state name)
    raw_labor_data["State"] = raw_labor_data["State"].apply(lambda state_name: us_state_to_abbrev[state_name])

    #Original raw data has different columns stacked on top of each row, so we need to reorder the dataset.
    #Block 1 contains total, constructing and mining data
    block1 = raw_labor_data[:50]
    block1.columns = ["State", "Total", "Constructing", "Mining"]

    #Block 2 contains Trade, Financial and Professional
    block2 = raw_labor_data[50:100]
    block2.columns = ["State", "Trade", "Financial", "Professional"]

    #Block 3 contains Education, Leisure and Government
    block3 = raw_labor_data[100:]
    block3.columns = ["State", "Education", "Leisure", "Gov"]

    #merge all blocks into one dataframe
    labor_data = block1.merge(block2, on="State")
    labor_data = labor_data.merge(block3, on="State")

    #We only need data on white collar and blue collar, so we can combine each job sector to their respective group.
    labor_data["Blue_col"] = labor_data["Constructing"] + labor_data["Mining"] + labor_data["Trade"] + labor_data["Leisure"]
    labor_data["White_col"] = labor_data["Financial"] + labor_data["Professional"] + labor_data["Education"] + labor_data["Gov"]

    #Get rid of all other columns except State, White_col, Blue_col and Total
    labor_data.drop(columns = ["Constructing", "Mining", "Trade", "Financial", "Professional", "Education", "Leisure", "Gov"], inplace=True)
    #export as csv
    labor_data.columns = ['state','tot_jobs','blue_col','white_col']
    labor_data.to_csv('./Cleaned Data/state_labor_data.csv')

def get_labor_data():
    labor_data_url = './Cleaned Data/state_labor_data.csv'
    labor_data = pd.read_csv(labor_data_url)
    return labor_data

clean_labor_data()


## Dataset 3 (Income/Insurance)
- For Dataset 3, we have two primary steps in cleaning the data. The first step was manually inputting the data from the data sources to a CSV file via Google Sheets. This manual step was necessary due to the fact that the original data source did not have an option to directly extract/download the raw data. Since there were only 50 observations, we decided manual input was the best option. 

- Our second step for Dataset 3 was to import the data into this notebook. We uploaded the CSV file into our "Raw Data" folder, and then used read_csv to bring it into a dataframe, which is a usable format for our future analysis. After making sure there were no issues, we then saved it to the "Cleaned Data" folder.

## Dataset 3 Code

In [104]:
def standardize_income(string):
    string = string.strip()

    string = string.replace(',', '')
    return float(string)

# Cleaning socioeconomic data
def clean_socioeconomic_data():
    socioeconomic_data_url = r'./Raw Data/socioeconomic_data.csv'
    soci_data = pd.read_csv(socioeconomic_data_url)

    #simplify columns and replace Median Household income values with floats
    soci_data.columns = ['state', '%_no_insurance', 'median_income']
    soci_data['median_income'] = soci_data['median_income'].apply(standardize_income)

    soci_data['with_insurance'] = 100 - soci_data['%_no_insurance'] 

    # Saving to CSV
    clean_socioeconomic_data_url = r"./Cleaned Data/clean_socioeconomic_data.csv"
    soci_data.to_csv(clean_socioeconomic_data_url, index=False)
    
def get_socioeconomic_data():
    clean_socioeconomic_data_url = r"./Cleaned Data/clean_socioeconomic_data.csv"
    soci_data = pd.read_csv(clean_socioeconomic_data_url)
    return soci_data

clean_socioeconomic_data()

## Dataset 4 (US population)
- The raw data is in csv format with population census data from the US government. For our purposes, we only want the state name and the population in 2020. Although it is 2022, there is not yet a fully released dataset on 2021 population data aside from estimates, so it is fine that we only have 2020 populations and we will be conducting our analysis for 2020.

- Since there are also US territories included and DC, we remove those unwanted rows. We also want to store states as their state code rather than their full name. There are also problems with having the population stored as a string, so we do some formatting to make the population be stored as an integer. Finally, we apply some renaming and then our data cleaning is complete.

https://data.ers.usda.gov/reports.aspx?ID=17827

In [105]:
def clean_population_data():
    def format_population(pop: str) -> int:
        pop = pop.replace(",", "")
        return int(pop)
    # get population data
    population_data_url = r"Raw Data/PopulationReport.csv"
    pop_data = pd.read_csv(population_data_url)
    
    # keep only state name and total population 2020
    pop_data = pop_data[["Name", "Pop. 2020"]]
    
    # Remove unwanted Rows
    remove_rows = ["United States", "District of Columbia", "Puerto Rico", "Source: U.S. Census Bureau, 1990, 2000, 2010, 2020 Censuses of Population\n\n\n"]
    pop_data = pop_data[~pop_data["Name"].isin(remove_rows)]
    pop_data.dropna(inplace=True)
    
    # Change column name
    pop_data.columns = ["state", "total_population"]
    
    # Value formatting
    pop_data["total_population"] = pop_data["total_population"].apply(format_population)
    pop_data["state"] = pop_data["state"].apply(to_state_code)
    
    # save to cleaned data
    cleaned_population_data_url = "Cleaned Data/population.csv"
    pop_data.to_csv(cleaned_population_data_url, index=False)
    
def read_population_data():
    cleaned_population_data_url = "Cleaned Data/population.csv"
    pop_data = pd.read_csv(cleaned_population_data_url)
    return pop_data

clean_population_data()

# Data Analysis & Results (EDA)

Carry out EDA on your dataset(s); Describe in this section

## Imports

In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Functions

In [107]:
def formatPreZero(num: int) -> str:

    #adds '0' char to any integer less than 10 to match formatting
    if num >= 10:
        return str(num)
    
    return "0" + str(num)
    
#reformat date parameter to match data values in csv    
def formatDate(month: int,  day: int, year: int) -> str:
    return f"{year}/{formatPreZero(month)}/{formatPreZero(day)}"

def read_covid_data(month: int, day: int, year: int):
    #retrieve cleaned csv
    covid_data_url = r".\Cleaned Data\state_covid_data.csv"
    covid_data = pd.read_csv(covid_data_url)
    
    #reformat date parameter to match data values in csv, then get all data from specific date
    date_filter = formatDate(month, day, year)
    covid_data = covid_data[covid_data["submission_date"] == date_filter]
    covid_data.sort_values("state", inplace=True)
    covid_data.reset_index(inplace=True, drop=True)
    
    return covid_data

def get_labor_data():
    labor_data_url = './Cleaned Data/state_labor_data.csv'
    labor_data = pd.read_csv(labor_data_url)
    return labor_data

def get_socioeconomic_data():
    clean_socioeconomic_data_url = r"./Cleaned Data/clean_socioeconomic_data.csv"
    soci_data = pd.read_csv(clean_socioeconomic_data_url)
    return soci_data

def get_population_data():
    cleaned_population_data_url = r"Cleaned Data/population.csv"
    pop_data = pd.read_csv(cleaned_population_data_url)
    return pop_data

## Consolidating/Combining Data

In [108]:
## YOUR CODE HERE
## UNIVARIATE
# scatter matrix between independent variables to see if there is indeed a correlation between each socioeconomic metric
# scatterplot 1 (median_income vs mortality_rate) and (median_income vs infection_rate) (wesley)
# scatterplot 2 (with_insurance vs morality_rate) and (with_insurance vs infection_rate) (wesley)
# scatterplot 3 (white_collar vs mortality_rate) and (white_collar vs infection_rate) (ethan)
# scatterplot 4 (alpha_coeff vs mortality_rate) and (alpha_coeff vs infection_rate) (clara)

## MULTIVARIATE
# linear regression for (mortality rate ~ median_income,with_insurance,white_collar) (stephen)
# linear regression for (infection rate ~ median_income, with_insurance, white_collar) (ernest)

column_1 = 'median income'
column_2 = 'without insurance'
column_3 = 'with insurance'
column_4 = 'blue collar'
column_5 = 'white collar'
column_6 = 'number of infections'
column_7 = 'number of deaths'
column_8 = 'mortality rate'

# state of california
ca_median_income = 50000
ca_without_insurance = 15
ca_with_insurance = 100-15

#blue = typically considered manual labor
ca_blue_labor = 30
ca_white_labor = 70

#define socioeconomic coefficient (prosperity coefficient)
def calculate_alpha(median_income, with_insurance, white_labor):
    alpha = ((((median_income/100000)*0.3333)) + (with_insurance/100)*0.3333 + (white_labor/100)*0.3333)
    return alpha
    
h_alpha = calculate_alpha(96400, 90, 90)

l_alpha = calculate_alpha(1, 1, 1)


print(h_alpha)
print(l_alpha)
#coefficient is some value between 0 and 1 based on each of the socioeconomic factors
#california = 0.8
#wyoming = 0.2

#independent = coefficient
#dependent = mortality rate
#this way, we can see a direct correlation between general socioeconomic factors and mortality rate

## linear regression, multivariate (variables taken separately)

0.9212412000000001
0.0066693329999999995

In [109]:
covid_data = read_covid_data(2, 1, 2022)
soci_data = get_socioeconomic_data()
labor_data = get_labor_data()
pop_data = get_population_data()

overall_df = pd.merge(labor_data, soci_data, left_on='state', right_on='state')
overall_df = pd.merge(overall_df, covid_data, left_on='state', right_on='state')
overall_df = pd.merge(overall_df, pop_data, left_on="state", right_on="state")
overall_df.drop(["Unnamed: 0"], axis="columns", inplace=True)
overall_df.columns = ['state', 'total_jobs', 'blue_collar', 'white_collar', '%_no_insurance', 'median_income', 
                      '%_with_insurance', 'submission_date', 'total_cases', 'total_deaths', "total_population"]


overall_df['%_mortality_rate'] = (overall_df['total_deaths'] / overall_df['total_cases']) * 100
overall_df['%_blue_collar'] = overall_df['blue_collar'] / overall_df['total_jobs'] * 100
overall_df['%_white_collar'] = overall_df['white_collar'] / overall_df['total_jobs'] * 100
overall_df["%_infection_rate"] = (overall_df["total_cases"] / (overall_df["total_population"] - overall_df["total_deaths"])) * 100


overall_df = overall_df[['state', 'total_jobs', 'blue_collar', '%_blue_collar', 'white_collar', '%_white_collar', 
                        'median_income', '%_no_insurance', '%_with_insurance', 'submission_date', 'total_population', 
                        'total_cases', 'total_deaths',  '%_mortality_rate', '%_infection_rate']]
overall_df

,state,total_jobs,blue_collar,%_blue_collar,white_collar,%_white_collar,median_income,%_no_insurance,%_with_insurance,submission_date,total_population,total_cases,total_deaths,%_mortality_rate,%_infection_rate
0,AL,2012.5,924.9,45.957764,968.0,48.099379,54393.0,11.7,88.3,2022/02/01,5024279,1229938,17683,1.437715,24.566352
1,AK,304.1,115.8,38.079579,163.2,53.666557,74476.0,13.9,86.1,2022/02/01,733391,209564,1052,0.501995,28.615709
2,AZ,2860.3,1191.2,41.645981,1523.6,53.267140,66628.0,13.6,86.4,2022/02/01,7151502,1878211,26345,1.402665,26.360275
3,AR,1257.5,576.4,45.836978,599.2,47.650099,50540.0,10.9,89.1,2022/02/01,3011524,781396,9667,1.237145,26.030421
4,CA,15937.9,6396.3,40.132640,8559.3,53.704064,77358.0,8.9,91.1,2022/02/01,39538223,8423159,79382,0.942426,21.346696
5,CO,2626.7,1046.8,39.852286,1380.1,52.541211,82611.0,9.3,90.7,2022/02/01,5773714,1256557,11164,0.888459,21.805572
6,CT,1570.8,616.0,39.215686,867.5,55.226636,79043.0,7.0,93.0,2022/02/01,3605944,700640,10076,1.438114,19.484586
7,DE,442.3,173.2,39.158942,249.7,56.454895,69132.0,8.1,91.9,2022/02/01,989948,248447,2544,1.023961,25.161636
8,FL,8492.0,3684.1,43.383184,4353.2,51.262365,57435.0,16.3,83.7,2022/02/01,21538187,5593114,67649,1.209505,26.050181
9,GA,4449.8,1962.2,44.096364,2217.2,49.826959,58952.0,15.5,84.5,2022/02/01,10711908,2378278,33053,1.389787,22.270908
10,HI,541.7,223.1,41.185158,289.8,53.498246,80729.0,5.0,95.0,2022/02/01,1455271,215303,1169,0.542956,14.806595
11,ID,776.4,364.4,46.934570,375.9,48.415765,66499.0,12.8,87.2,2022/02/01,1839106,382466,4425,1.156966,20.846458
12,IL,5637.3,2353.1,41.741614,2960.5,52.516276,73753.0,8.6,91.4,2022/02/01,12812508,2929636,34853,1.189670,22.927806
13,IN,3024.8,1545.6,51.097593,1337.9,44.231024,66360.0,10.3,89.7,2022/02/01,6785528,1629098,21487,1.318951,24.084685
14,IA,1513.4,722.0,47.707149,715.3,47.264438,68469.0,6.0,94.0,2022/02/01,3190369,722589,8657,1.198053,22.710698
15,KS,1354.7,594.9,43.913782,689.1,50.867351,72815.0,10.9,89.1,2022/02/01,2937880,730670,7536,1.031382,24.934615
16,KY,1841.8,883.8,47.985666,869.3,47.198393,56525.0,7.7,92.3,2022/02/01,4505836,1186639,13367,1.126459,26.413961
17,LA,1834.6,807.2,43.998692,915.8,49.918238,50935.0,10.5,89.5,2022/02/01,4657757,1118328,15744,1.407816,24.091445
18,ME,601.2,250.7,41.699933,321.0,53.393214,63440.0,10.1,89.9,2022/02/01,1362359,177100,1759,0.993224,13.016316
19,MD,2603.9,949.4,36.460694,1520.9,58.408541,94384.0,6.9,93.1,2022/02/01,6177224,979151,13532,1.382014,15.885787
20,MA,3356.3,1196.6,35.652355,1959.0,58.367846,86725.0,3.5,96.5,2022/02/01,7029917,1614642,22164,1.372688,23.040795
21,MI,4027.9,1793.7,44.531890,2034.5,50.510191,63829.0,6.9,93.1,2022/02/01,10077331,2272071,32435,1.427552,22.619159
22,MN,2719.6,1092.8,40.182380,1483.4,54.544786,78461.0,5.8,94.2,2022/02/01,5706494,1343090,11607,0.864201,23.584138
23,MS,1125.9,543.7,48.290257,526.9,46.798117,44966.0,15.4,84.6,2022/02/01,2961279,731667,11044,1.509430,24.800296
24,MO,2799.2,1191.1,42.551443,1448.7,51.754073,61901.0,12.0,88.0,2022/02/01,6154913,1335044,17508,1.311417,21.752581
25,MT,476.4,207.5,43.555835,238.4,50.041982,56442.0,10.2,89.8,2022/02/01,1084225,243133,3016,1.240473,22.487142
26,NE,998.3,430.3,43.103276,515.5,51.637784,72024.0,9.8,90.2,2022/02/01,1961504,441456,3705,0.839268,22.548586
27,NV,1277.5,665.7,52.109589,547.2,42.833659,60956.0,13.4,86.6,2022/02/01,3104614,659036,9012,1.367452,21.289429
28,NH,639.3,290.4,45.424683,314.7,49.225716,88235.0,7.6,92.4,2022/02/01,1377529,277355,2223,0.801500,20.166785
29,NJ,3864.9,1527.5,39.522368,2126.2,55.013066,85239.0,9.2,90.8,2022/02/01,9288994,2115305,31557,1.491842,22.849791
30,NM,778.4,277.6,35.662898,449.4,57.733813,50822.0,12.0,88.0,2022/02/01,2117522,481852,6473,1.343359,22.825240
31,NY,8723.3,2762.5,31.668061,5358.0,61.421710,68304.0,6.1,93.9,2022/02/01,20201249,2558863,25992,1.015764,12.683174
32,NC,4435.8,1983.5,44.715722,2215.7,49.950404,60266.0,13.4,86.6,2022/02/01,10439388,2443648,21202,0.867637,23.455600
33,ND,407.9,175.0,42.902672,199.6,48.933562,63657.0,8.1,91.9,2022/02/01,779094,225508,2107,0.934335,29.023394
34,OH,5277.8,2378.5,45.066126,2636.1,49.946948,60110.0,7.8,92.2,2022/02/01,11799448,2586903,33537,1.296415,21.986423
35,OK,1614.1,670.7,41.552568,835.2,51.744006,52341.0,16.8,83.2,2022/02/01,3959353,983937,12193,1.239205,24.927720
36,OR,1798.2,787.4,43.788233,914.5,50.856412,76554.0,8.6,91.4,2022/02/01,4237256,638823,6124,0.958638,15.098158
37,PA,5602.4,2298.6,41.028845,2975.9,53.118306,70117.0,7.0,93.0,2022/02/01,13002700,2667166,40836,1.531063,20.577025
38,RI,457.8,174.0,38.007864,259.4,56.662298,80012.0,4.8,95.2,2022/02/01,1097379,345209,3342,0.968109,31.553686
39,SC,2117.3,1002.9,47.366930,1011.2,47.758938,60097.0,13.2,86.8,2022/02/01,5118425,1392176,15511,1.114155,27.281980
40,SD,431.6,195.7,45.342910,212.8,49.304912,69787.0,12.2,87.8,2022/02/01,886667,228169,2660,1.165803,25.810768
41,TN,3030.5,1407.9,46.457680,1456.1,48.048177,54665.0,12.1,87.9,2022/02/01,6910840,1881395,22776,1.210591,27.313843
42,TX,12365.2,5313.2,42.968977,6278.9,50.778799,68093.0,20.8,79.2,2022/02/01,29145505,6254867,78360,1.252784,21.518684
43,UT,1565.1,698.4,44.623347,780.0,49.837071,83670.0,10.8,89.2,2022/02/01,3271616,888368,4138,0.465798,27.188186
44,VT,286.1,118.2,41.314226,154.2,53.897239,66902.0,5.6,94.4,2022/02/01,643077,97006,516,0.531926,15.096777
45,VA,3881.1,1428.3,36.801422,2201.8,56.731339,81947.0,9.3,90.7,2022/02/01,8631393,1558383,16412,1.053143,18.089222
46,WA,3266.8,1358.6,41.588098,1634.7,50.039794,81083.0,7.7,92.3,2022/02/01,7705281,1339743,10776,0.804333,17.411685
47,WV,671.9,257.6,38.339039,368.0,54.770055,51615.0,8.3,91.7,2022/02/01,1793716,448922,5778,1.287083,25.108365
48,WI,2831.1,1343.6,47.458585,1293.9,45.703084,67094.0,6.8,93.2,2022/02/01,5893718,1520640,12453,0.818932,25.855662
49,WY,273.7,116.5,42.564852,124.3,45.414688,65108.0,14.8,85.2,2022/02/01,576851,147305,1650,1.120125,25.609309